<%- include('../includes/header.ejs') %>

	<section class="contact">

		<div class="container">
			<div class="row contact-details">
				<div class="col text-center text-md-left">
					<h3 class="mb-4">後台管理</h3>
					<form class="contact-form mt-4" action="/admin-login" method="POST">
						<div class="row">
							<div class="col-md-5">
								<%- include('../includes/error-messages.ejs') %>

									<input type="text" class="form-control mb-4" name="userID" placeholder="管理者帳號 ID"
										value="">
							</div>
						</div>
						<div class="row">
							<div class="col-md-5">
								<input type="password" class="form-control mb-4" name="password"
									placeholder="密碼 Password" value="">
							</div>
							<div class="col-md-10">
								<input type="hidden" name="_csrf" value="<%= csrfToken %>">
								<button type="submit" class="btn btn-outline-primary btn-lg mb-4">登入</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>

	<%- include('../includes/footer.ejs') %>