<%- include('../includes/header.ejs') %>

    <section class="contact">
        <div class="container">
            <div class="row contact-details justify-content-center">
                <div class="col-sm-8 ">
                    <h3 class="mb-4">
                        <%= title%>
                    </h3>
                    <form class="contact-form mt-4" action="/forgotpassword" method="POST">

                        <div class="row">
                            <div class="col-md-10">
                                <input type="email" class="form-control mb-4" id="email" name="email"
                                    placeholder="請輸入電子郵件" aria-describedby="emailHelp" value="">

                                <!-- <form action="/forgotpassword" method="post"> -->
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <button type="submit" class="btn btn-outline-primary btn-lg mb-4">
                                    送出
                                </button>
                                <!-- </form> -->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <%- include('../includes/footer.ejs') %>