<%- include('../includes/header.ejs') %>

    <section class="contact">
        <div class="container">
            <div class="row contact-details justify-content-center">
                <div class="col-sm-8 ">
                    <h3 class="mb-4">重設密碼</h3>
                    <form class="contact-form mt-4" action="/resetpassword" method="POST">

                        <div class="row">
                            <div class="col-md-10">
                                <input type="password" class="form-control mb-4" name="newPassword"
                                    placeholder="密碼 Password" value="">
                                <input type="password" class="form-control mb-4" name="confirmPassword"
                                    placeholder="確認密碼 Confirm Password" value="">

                                <input type="hidden" name="userId" value="<%= userId %>">
                                <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <button type="submit" class="btn btn-outline-primary btn-lg mb-4">
                                    送出
                                </button>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <%- include('../includes/footer.ejs') %>