<%- include('../includes/header.ejs') %>

	<% var editMode %>

		<section class="contact">
			<div class="container">
				<div class="row contact-details justify-content-center">
					<div class="col-sm-8 ">
						<% if(!editMode){ %>
							<h3 class="mb-4">新增商品</h3>
							<form class="contact-form mt-4" action="/admin/product" method="POST"
								enctype="multipart/form-data">
								<% }else{ %>
									<h3 class="mb-4">修改商品</h3>
									<form class="contact-form mt-4"
										action="/admin/product/<%= product._id  %>?_method=PUT" method="POST"
										enctype="multipart/form-data">
										<% } %>
											<div class="row">
												<div class="col-md-10">
													<%- include('../includes/error-messages.ejs') %>
												</div>
											</div>
											<div class="row">
												<div class="col-md-5">
													<select class="form-control mb-4" id="">
														<option <% if(!editMode){ %>selected<% } %> value="">請選擇類別
														</option>
														<option value="女性">女性</option>
														<option value="男性">男性</option>
														<option value="中性">中性</option>
													</select>
												</div>
												<div class="col-md-5">
													<select class="form-control mb-4" name="type" id="">
														<option <% if(!editMode){ %>selected<% } %> value="">請選擇衣物類別
														</option>
														<option <% if(editMode && product.type=='上衣' ){ %>selected<% }
																%>
																value="上衣">上衣</option>
														<option <% if(editMode && product.type=='褲子' ){ %>selected<% }
																%>
																value="褲子">褲子</option>
														<option <% if(editMode && product.type=='裙子' ){ %>selected<% }
																%>
																value="裙子">裙子</option>
														<option <% if(editMode && product.type=='其它' ){ %>selected<% }
																%>
																value="其它">其它</option>
													</select>
												</div>
											</div>
											<div class="row">
												<div class="col-md-7">
													<input type="text" class="form-control mb-4" name="title"
														placeholder="商品名稱"
														value="<% if(editMode){ %><%= product.title %><% } %>">
												</div>
												<div class="col-md-3">
													<input type="text" class="form-control mb-4" name="price"
														placeholder="價格"
														value="<% if(editMode){ %><%= product.price %><% } %>">
												</div>
												<br />
											</div>
											<div class="row">
												<div class="col-md-10">
													<input type="file" class="form-control mb-4" id="image" name="image"
														placeholder="上傳圖片" aria-describedby="imageHelp"
														value="<% if(editMode){ %><%= product.image %><% } %>">
													<textarea class=" form-control mb-4" rows="5" name="description"
														placeholder="商品描述"
														style="height: 10em!important;"><% if(editMode){ %><%= product.description %><% } %></textarea>
													<br />
													<% if(!editMode){ %>
														<input type="hidden" name="_csrf" value="<%= csrfToken %>">
														<button type="submit"
															class="btn btn-outline-primary btn-lg mb-4">
															新增
														</button>
									</form>
									<% }else{ %>
										<div class="row pl-3">
											<input type="hidden" name="_csrf" value="<%= csrfToken %>">
											<button type="submit" class="btn btn-outline-primary btn-lg mb-4 mr-2">
												修改
											</button>
							</form>
							<form action="/admin/product/<%= product._id %>?_method=DELETE" method="POST">
								<input type="hidden" name="_csrf" value="<%= csrfToken %>">
								<button type="submit" class="btn btn-outline-danger btn-lg mb-4">
									刪除
								</button>
							</form>
					</div>
					<% } %>
				</div>
			</div>
		</section>

		<%- include('../includes/footer.ejs') %>