<%- include('../includes/header.ejs') %>

    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-sm-6 text-md-center">
                <a href="/admin/product" class="btn btn-primary btn-lg pl-5 pr-5">新增商品</a>
                <a href="/admin/order" class="btn btn-primary btn-lg pl-5 pr-5">訂單管理</a>
            </div>
        </div>
        <div class="row mt-5 mb-5">
            <% product.forEach(function(item){ %>

                <div class="col-md-6 col-lg-4 col-product">
                    <figure>
                        <img class="rounded-corners img-fluid" src="/images/<%= item.image %>">
                    </figure>
                    <h4 class="mb-1"><a href="/admin/product/<%= item._id %>">
                            <%= item.title %>
                        </a></h4>
                    <p><span class="emphasis">NT$<%= item.price %></span></p>
                </div>
                <% }) %>
        </div>
    </div>

    <%- include('../includes/footer.ejs') %>