<%- include('../includes/header.ejs') %>

    <section class="cart text-center">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="mt-2 mb-2">所有訂單</h2>
                    <br>
                    <table id="cart" class="table table-condensed">
                        <thead>
                            <tr>
                                <th style="width:15%">日期</th>
                                <th style="width:15%">訂單編號</th>
                                <th style="width:30%">內容</th>
                                <th style="width:10%">金額</th>
                                <th style="width:10%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% order.forEach((item)=>{%>
                                <tr>
                                    <td>
                                        <%= moment(item.date).format('YYYY-MM-DD') %>
                                    </td>
                                    <td>
                                        <a href="/admin/order/<%= item._id %>" target="_blank">
                                            <%= moment(item.date).format('YYYYMMDDHHMMSS') %>
                                        </a>
                                    </td>
                                    <td data-th="Product">
                                        <h4>
                                            <% item.products.forEach((product)=>{%>
                                                <%= product.product.title %> x <%= product.quantity %><br>
                                                        <%}) %>
                                        </h4>
                                    </td>
                                    <td data-th="Price">NT$<%= item.totalPrice %>
                                    </td>
                                    <td data-th="status">

                                        <%= item.status %>

                                    </td>
                                </tr>

                                <%}) %>

                        </tbody>
                    </table>

                </div>
            </div>

        </div>
    </section>

    <%- include('../includes/footer.ejs') %>