<form action="/cart" method="post">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <input type="hidden" name="productId" value="<%= product._id %>" />
    <button class="btn btn-full-width btn-lg btn-outline-primary" type="submit">加入購物車</button>
</form>