<% if(errorMessages){ %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>【系統提示】</strong>
        <%= errorMessages %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
    </div>

    <% } %>