<footer class="footer">
    <div class="container">
        <div class="row mb-5 text-center justify-content-center">
            <div class="col-sm-6 col-md-3 pt-2">
                <h5>Mint Studio</h5>
                <ul class="nav-footer">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/product">Shop</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
                    <li class="nav-item"><a class="nav-link" href="/member">Member</a></li>

                </ul>
            </div>
            <!-- <div class="col-sm-6 col-md-3 pt-2">
                <h5>Men's</h5>
                <ul class="nav-footer">
                    <li class="nav-item"><a class="nav-link active" href="/product?name=women&name2=1">上衣</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">褲子</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">裙子</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">內搭</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">配件</a></li>
                </ul>
            </div> -->
            <!-- <div class="col-sm-6 col-md-3 pt-2">
                <h5>Girl's</h5>
                <ul class="nav-footer">
                    <li class="nav-item"><a class="nav-link" href="#">Link Item</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Link Item</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Link Item</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Link Item</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Link Item</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3 pt-2">
                <h5>Boy's</h5>
                <ul class="nav-footer">
                    <li class="nav-item"><a class="nav-link" href="#">Link Item</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Link Item</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Link Item</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Link Item</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Link Item</a></li>
                </ul>
            </div> -->
        </div>
    </div>

    <div class="container-fluid">
        <div class="divider"></div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center text-md-left mt-2 mb-3 pt-1">
                <p class="copyright">Copyright &copy; 2021. Mint Studio All rights reserved.<a
                        href="/admin-login">後台管理</a>
                </p>
            </div>
            <div class="col-md-6 text-center text-md-right mb-4">
                <ul class="social">
                    <li><a href="#" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#" title="Instagram"><i class="fab fa-instagram"></i></a></li>
                    <div class="clear"></div>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- Placed at the end of the document so the pages load faster -->
<script src="/javascripts/jquery-3.1.1.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/javascripts/tether.min.js"></script>
<script src="/javascripts/popper.min.js"></script>

</body>

</html>