<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="utf-8">
    <title>
        <%= title %> | Mint Studio
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">

    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>

    <%- include('./navbar.ejs') %>