<section class="header text-center">
    <nav class="navbar navbar-expand-lg navbar-light navbar-custom">
        <div class="container"><a class="navbar-brand" href="/"><i class="fas fa-shopping-bag primary-color mr-1"></i>
                Mint Studio</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-1"
                aria-controls="navbar-1" aria-expanded="false" aria-label="Toggle navigation"><span
                    class="navbar-toggler-icon"></span></button>
            <% var homeActive,shopActive,contactActive %>
                <div class="collapse navbar-collapse pull-xs-right justify-content-end" id="navbar-1">
                    <ul class="navbar-nav mt-2 mt-md-0">
                        <li class="nav-item <% if(homeActive){ %>active<% } %>"><a class="nav-link" href="/">Home
                                <span class="sr-only">(current)</span></a></li>
                        <li class="nav-item <% if(shopActive){ %>active<% } %>"><a class="nav-link" href="/product">Shop
                                <span class="sr-only"></span></a>
                        </li>

                        <% var isLoggedIn,isAdminLoggedIn %>

                            <li class="nav-item <% if(contactActive){ %>active<% } %>"><a class="nav-link"
                                    href="/contact">Contact</a></li>


                            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#"
                                    id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">Member
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <% if(!isLoggedIn){ %>
                                        <a class="dropdown-item" href="/login">登入</a>
                                        <% }else{ %>
                                            <a class="dropdown-item" href="/member">會員中心</a>
                                            <div class="dropdown-divider"></div>
                                            <form action="/logout" method="post">
                                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                                <button class="dropdown-item" type="submit">登出</button>
                                            </form>
                                            <% } %>
                                </div>
                            </li>

                            <% if(isLoggedIn){ %>
                                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="/cart"
                                        id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false"><i class="fas fa-shopping-cart"></i>
                                        <% if(userInfo.cart.items.length !==0){ %>
                                            <span class="badge badge-pill badge-primary">
                                                <%= userInfo.cart.items.length %>
                                            </span>
                                            <% } %>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-cart"
                                        aria-labelledby="navbarDropdown">
                                        <h6>
                                            <%= userInfo.cart.items.length %> 項商品 <span class="emphasis"></span>
                                        </h6>
                                        <div class="dropdown-divider"></div>

                                        <a href="/cart" class="btn btn-lg btn-full-width btn-primary"
                                            style="margin: 0;">檢視購物車</a>
                                    </div>
                                </li>
                                <% } %>
                    </ul>
                </div>
        </div>
    </nav>
</section>