<% if(successMessages){ %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Thank you!</strong>
        <%= successMessages %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
    </div>

    <% } %>