<%- include('./includes/header.ejs') %>

	<section class="contact">

		<iframe
			src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3679.7905365643096!2d120.3303828150289!3d22.736025585098968!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346e0fd285ad9d73%3A0x8acea32348b37cf6!2zODEx6auY6ZuE5biC5qWg5qKT5Y2A5Zyf5bqr6LevMTblt7cz6Jmf!5e0!3m2!1szh-TW!2stw!4v1616039559347!5m2!1szh-TW!2stw"
			width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

		<div class="container">
			<div class="row contact-details">
				<div class="col-sm-8 text-center text-md-left">
					<h3 class="mb-4">與我們聯絡</h3>
					<p class="mb-4">我們將盡快回覆您</p>
					<form class="contact-form mt-4" action="/contact" method="POST">
						<div class="row">
							<div class="col-md-10">
								<%- include('./includes/error-messages.ejs') %>
									<%- include('./includes/success-messages.ejs') %>
							</div>
						</div>
						<div class="row">
							<div class="col-md-5">
								<input type="text" class="form-control mb-4" name="name" placeholder="您的姓名 Your name"
									value="">
							</div>
							<div class="col-md-5">
								<input type="text" class="form-control mb-4" name="email"
									placeholder="電子郵件 Email address" value="">
							</div>
							<br />
						</div>
						<div class="row">
							<div class="col-md-10">
								<textarea class="form-control mb-4" rows="5" name="messages"
									placeholder="請輸入內容 Your Message" style="height: 10em!important;"></textarea>
								<br />
								<input type="hidden" name="_csrf" value="<%= csrfToken %>">
								<button type="submit" class="btn btn-outline-primary btn-lg mb-4"
									onclick="display_alert()">送出訊息</button>
							</div>
						</div>
					</form>
				</div>
				<div class="col-sm-4 mb-5 text-center text-md-left">
					<h3>聯絡方式</h3>
					<h4 class="pt-4">Email</h4>
					<p>mint.studio@gmail.com</p>
					<h4 class="pt-2">Phone</h4>
					<p>+886 916 558 928</p>
					<h4 class="pt-2">Address</h4>
					<p>811 高雄市楠梓區
						<br />土庫路16巷3號4樓
					</p>
					<ul class="social">
						<li><a href="#" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
						<li><a href="#" title="Instagram"><i class="fab fa-instagram"></i></a></li>
						<div class="clear"></div>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<!-- 
	<script type="text/javascript">
		function display_alert() {
			alert('已送出訊息，我們將盡快回覆您');
		}
	</script> -->
	<%- include('./includes/footer.ejs') %>