<%- include('./includes/header.ejs') %>

    <div class="container">

        <div class="row justify-content-center mt-5">
            <h1>
                <%= error.status %>
                    <%= message %>
            </h1>
        </div>

        <div class="row justify-content-center mt-5 mb-5">
            <img src="/images/error.svg" alt="" width="50%">
        </div>
    </div>



    <%- include('./includes/footer.ejs') %>