<%- include('./includes/header.ejs') %>

	<div id="carousel" class="carousel slide" data-ride="carousel">

		<!-- Carousel Indicators -->
		<ul class="carousel-indicators">
			<li data-target="#carousel" data-slide-to="0" class="active"></li>
			<li data-target="#carousel" data-slide-to="1"></li>
			<li data-target="#carousel" data-slide-to="2"></li>
		</ul>

		<!-- Carousel -->
		<div class="carousel-inner">

			<!--Text only with background image-->
			<div class="carousel-item active" style="background: url(images/cover-bg-1.jpg) center;">
				<div class="container slide-textonly">
					<div>
						<h1>Mint Studio</h1>
						<p class="lead">二手衣物循環
						</p>
						<a href="/product" class="btn btn-outline-secondary">View shop</a>
					</div>
				</div>
			</div>

			<!--Text only with background image-->
			<div class="carousel-item" style="background: url(images/cover-bg-2.jpg) center;">
				<div class="container slide-textonly">
					<div>
						<!-- <h1>York &amp; Smith</h1>
						<p class="lead">Spring/Summer 2018 Collection</p>
						<a href="#" class="btn btn-outline-secondary">View Collection</a> -->
					</div>
				</div>
			</div>

			<div class="carousel-item" style="background: url(images/cover-bg-3.jpg) center;">
				<div class="container slide-textonly">
					<div>
						<!-- <h1>York &amp; Smith</h1>
						<p class="lead">Spring/Summer 2018 Collection</p>
						<a href="#" class="btn btn-outline-secondary">View Collection</a> -->
					</div>
				</div>
			</div>

		</div>
	</div>

	<section class="featured-block text-center">
		<div class="container">
			<div class="row justify-center">
				<div class="col-md-6 text-center">
					<img class="mt-4 mb-4 img-fluid" src="images/placeholder-jacket.jpg" style="width: 80%;"
						alt="攝影師：Sam Lion，連結：Pexels">
				</div>
				<div class="col-md-6 text-center text-md-left">
					<h2 class="mb-3">舊衣服交給我們</h2>
					<p class="lead mt-2 mb-3">你也有不要的二手衣物嗎？<br>只要保存良好都有機會讓它們找到新主人！</p>
					<a href="/contact" class="btn btn-md btn-outline-primary mt-3">聯絡我們</a>
				</div>
			</div>
		</div>
		</div>
	</section>

	<section class="products text-center">
		<div class="container">
			<h3 class="mb-4">精選商品</h3>
			<div class="row">
				<% product.forEach((item)=>{ %>


					<div class="col-sm-6 col-md-3 col-product">
						<figure>
							<img class="rounded-corners img-fluid" src="/images/<%= item.image %>" width="240"
								height="240">
							<figcaption>
								<div class="thumb-overlay"><a href="/product/<%= item._id %>" title="More Info">
										<i class="fas fa-search-plus"></i>
									</a></div>
							</figcaption>
						</figure>
						<h4><a href="/product/<%= item._id %>">
								<%= item.title %>
							</a></h4>
						<p><span class="emphasis">NT$<%= item.price %></span></p>
					</div>
					<% }) %>

			</div>
		</div>
	</section>

	<%- include('./includes/footer.ejs') %>