<%- include('./includes/header.ejs') %>

	<section class="featured-block text-center">
		<div class="container">
			<div class="row">
				<div class="col-md-6 text-center">
					<div class="product-image mt-3">
						<img class="img-fluid" src="/images/<%= product.image %>">
					</div>
				</div>
				<div class="col-md-6 mt-5 mt-md-2 text-center text-md-left">
					<h2 class="mb-3 mt-0">
						<%= product.title %>
					</h2>
					<p class="lead mt-2 mb-3 primary-color">NT$<%= product.price %>
					</p>
					<h5 class="mt-4">詳細說明</h5>
					<p>
						<%= product.description %>
					</p>
					<h5 class="mt-5">洗滌建議</h5>
					<p>水洗
					</p>
					<select class="custom-select form-control mt-4 mb-4">
						<option selected>尺寸</option>
						<option value="1">F</option>
					</select>

					<%- include('./includes/add-to-cart.ejs') %>

				</div>
			</div>
		</div>
		</div>
	</section>

	<%- include('./includes/footer.ejs') %>