<!DOCTYPE html>
<html lang="zh-Hant">

<head>
	<meta charset="utf-8">
	<title>
		<%= title %> | Mint Studio
	</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<link rel="shortcut icon" href="/images/favicon.ico">
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="/stylesheets/bootstrap-slider.min.css">

	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>

	<script src="/javascripts/bootstrap-slider.min.js"></script>

	<link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>

	<%- include('./includes/navbar.ejs') %>

		<div class="container">
			<div class="row">
				<div class="col-md-4 col-lg-3 sidebar-filter">
					<form action="/product" method="get">
						<h3 class="mt-5 mb-5">共有 <span class="primary-color">
								<%= totalItems %>
							</span> 項商品</h3>
						<h6 class="text-uppercase">分類</h6>
						<div class="filter-checkbox">
							<div class="custom-control custom-checkbox">
								<input class="form-check-input" type="radio" name="type" id="flexRadioDefault0"
									value="all" checked>
								<label class="form-check-label" for="flexRadioDefault1">
									全部
								</label>
							</div>
						</div>
						<div class="filter-checkbox">
							<div class="custom-control custom-checkbox">
								<input class="form-check-input" type="radio" name="type" id="flexRadioDefault1"
									value="上衣">
								<label class="form-check-label" for="flexRadioDefault1">
									上衣
								</label>
							</div>
						</div>
						<div class="filter-checkbox">
							<div class="custom-control custom-checkbox">
								<input class="form-check-input" type="radio" name="type" id="flexRadioDefault2"
									value="褲子">
								<label class="form-check-label" for="flexRadioDefault2">
									褲子
								</label>
							</div>
						</div>
						<div class="filter-checkbox">
							<div class="custom-control custom-checkbox">
								<input class="form-check-input" type="radio" name="type" id="flexRadioDefault3"
									value="裙子">
								<label class="form-check-label" for="flexRadioDefault3">
									裙子
								</label>
							</div>
						</div>
						<div class="filter-checkbox">
							<div class="custom-control custom-checkbox">
								<input class="form-check-input" type="radio" name="type" id="flexRadioDefault4"
									value="其它">
								<label class="form-check-label" for="flexRadioDefault4">
									其它
								</label>
							</div>
						</div>

						<div class="divider"></div>
						<h6 class="text-uppercase">價格範圍</h6>
						<div class="price-filter">
							<input type="text" class="form-control" value="200" name="minPrice" id="price-min" readonly>
							<input type="text" class="form-control" value="350" name="maxPrice" id="price-max" readonly>
						</div>
						<br />
						<br />
						<input id="ex2" type="text" class="slider " value="" data-slider-min="50" data-slider-max="500"
							data-slider-step="5" data-slider-value="[200,350]" />
						<div class="divider"></div>

						<button type="submit" class="btn btn-lg btn-full-width btn-primary mt-2">更新結果</button>
					</form>
				</div>

				<div class="col-md-8 col-lg-9">
					<section class="products">
						<div class="container">
							<div class="row">
								<% product.forEach(function(item){ %>
									<div class="col-md-6 col-lg-4 col-product">
										<figure>
											<img class="rounded-corners img-fluid" src="/images/<%= item.image %>">
											<figcaption>
												<div class="thumb-overlay"><a href="/product/<%= item._id %>"
														title="More Info">
														<i class="fas fa-search-plus"></i>
													</a></div>
											</figcaption>
										</figure>
										<h4 class="mb-1"><a href="/product-detail/<%= item._id %>">
												<%= item.title %>
											</a></h4>
										<p><span class="emphasis">NT$<%= item.price %></span></p>
									</div>
									<% }) %>
							</div>
							<!-- 分頁按鈕 -->
							<% if(type=='' && minPrice==0 && maxPrice==Infinity){ %>
								<div class="row sorting mb-5">
									<div class="col-12">
										<% if(totalPages !==1){ %>
											<div class="btn-group float-right ml-3">
												<ul class="pagination">
													<% if(hasPrevPage){ %>
														<li class="page-item">
															<a class="page-link" href="?page=<%= prevPage %>"
																aria-label="Previous">
																<span aria-hidden="true">&laquo;</span>
															</a>
														</li>
														<% } %>
															<% for(let i=1; i<=totalPages; i++){ %>
																<li class="page-item"><a class="page-link"
																		href="?page=<%= i %>">
																		<%= i %>
																	</a>

																</li>
																<% } %>
																	<% if(hasNextPage){ %>
																		<li class="page-item">
																			<a class="page-link"
																				href="?page=<%= nextPage %>"
																				aria-label="Next">
																				<span aria-hidden="true">&raquo;</span>
																			</a>
																		</li>
																		<% } %>
												</ul>
											</div>
											<% } %>

									</div>
								</div>
								<% } else { %>
									<div class="row sorting mb-5">
										<div class="col-12">
											<% if(totalPages !==1){ %>
												<div class="btn-group float-right ml-3">
													<ul class="pagination">
														<% if(hasPrevPage){ %>
															<li class="page-item">
																<a class="page-link"
																	href="?type=<%= type %>&minPrice=<%= minPrice %>&maxPrice=<%= maxPrice %>&page=<%= prevPage %>"
																	aria-label="Previous">
																	<span aria-hidden="true">&laquo;</span>
																</a>
															</li>
															<% } %>
																<% for(let i=1; i<=totalPages; i++){ %>
																	<li class="page-item"><a class="page-link"
																			href="?type=<%= type %>&minPrice=<%= minPrice %>&maxPrice=<%= maxPrice %>&page=<%= i %>">
																			<%= i %>
																		</a>

																	</li>
																	<% } %>
																		<% if(hasNextPage){ %>
																			<li class="page-item">
																				<a class="page-link"
																					href="?type=<%= type %>&minPrice=<%= minPrice %>&maxPrice=<%= maxPrice %>&page=<%= nextPage %>"
																					aria-label="Next">
																					<span
																						aria-hidden="true">&raquo;</span>
																				</a>
																			</li>
																			<% } %>
													</ul>
												</div>
												<% } %>
										</div>
									</div>
									<% } %>

						</div>
					</section>
				</div>
			</div>
		</div>

		<footer class="footer">
			<div class="container">
				<div class="row mb-5 text-center justify-content-center">
					<div class="col-sm-6 col-md-3 pt-2">
						<h5>Mint Studio</h5>
						<ul class="nav-footer">
							<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
							<li class="nav-item"><a class="nav-link" href="/product">Shop</a></li>
							<li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
							<li class="nav-item"><a class="nav-link" href="/member">Member</a></li>
						</ul>
					</div>
				</div>
			</div>

			<div class="container-fluid">
				<div class="divider"></div>
			</div>

			<div class="container">
				<div class="row">
					<div class="col-md-6 text-center text-md-left mt-2 mb-3 pt-1">
						<p class="copyright">Copyright &copy; 2021. Mint Studio All rights reserved.<a
								href="/admin-login">後台管理</a>
						</p>
					</div>
					<div class="col-md-6 text-center text-md-right mb-4">
						<ul class="social">
							<li><a href="#" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" title="Instagram"><i class="fab fa-instagram"></i></a></li>
							<div class="clear"></div>
						</ul>
					</div>
				</div>
			</div>
		</footer>

		<!-- Placed at the end of the document so the pages load faster -->
		<script src="/javascripts/jquery-3.1.1.min.js"></script>
		<script src="/bootstrap/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
			integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
			crossorigin="anonymous"></script>

		<script type="text/javascript">


			// Without JQuery
			var slider = new Slider('#ex2', {
			});
			slider.on("slide", function (sliderValue) {
				document.getElementById("price-min").value = sliderValue[0];
			});
			slider.on("slide", function (sliderValue) {
				document.getElementById("price-max").value = sliderValue[1];
			});

		</script>

</body>

</html>