<%- include('../includes/header.ejs') %>

	<% let totalPrice=0 %>
		<section class="cart text-center">
			<div class="container">
				<% if(cartProducts.length !==0){ %>
					<div class="row">
						<div class="col-12 text-center">
							<h2 class="mt-5 mb-2">您的購物車</h2>
							<p class="mb-5">共<span class="primary-color">
									<%= cartProducts.length %>
								</span> 項商品</p>
							<table id="cart" class="table table-condensed">
								<thead>
									<tr>
										<th style="width:60%">商品</th>
										<th style="width:15%">價格</th>
										<th style="width:15%">數量</th>
										<th style="width:10%"></th>
									</tr>
								</thead>
								<tbody>
									<% cartProducts.forEach((item)=>{%>
										<tr>
											<td data-th="Product">
												<div class="row">
													<div class="col-md-3 text-left">
														<img src="/images/<%= item.productId.image %>" alt=""
															class="img-fluid">
													</div>
													<div class="col-md-9 text-left mt-sm-2">
														<h4>
															<%= item.productId.title %>
														</h4>
														<p>
															<%= item.productId.description %>
														</p>
													</div>
												</div>
											</td>
											<td data-th="Price">NT$<%= item.productId.price %>
											</td>
											<td data-th="Quantity">

												<form action="/cart" method="post">
													<%= item.quantity %>
														<input type="hidden" name="_csrf" value="<%= csrfToken %>">
														<input type="hidden" name="productId"
															value="<%= item.productId._id %>" />
														<button class="btn btn-white btn-md p-2"
															type="submit">+</button>
												</form>
											</td>
											<td class="actions" data-th="">
												<div class="text-right">
													<form action="/cart?_method=DELETE" method="POST">
														<input type="hidden" name="_csrf" value="<%= csrfToken %>">
														<input type="hidden" name="productId"
															value="<%= item.productId._id %>" />
														<button class="btn btn-white btn-md mb-2" type="submit"><i
																class="fas fa-trash"></i></button>
													</form>
												</div>
											</td>
										</tr>
										<% totalPrice=totalPrice + item.productId.price * item.quantity %>
											<%}) %>
								</tbody>
							</table>
							<div class="float-right text-right">
								<h4>總計:</h4>
								<h1>NT$<%= totalPrice %>
								</h1>
								<p>(不含運費)</p>
							</div>
						</div>
					</div>
					<!-- <div class="row">
						<div class="col-sm-6 mb-3 mb-m-1 text-md-left"></div>
						<div class="col-sm-6 text-md-left">
							<input type="text" class="form-control mb-4" name="receiver" placeholder="收件人" value="">
							<input type="phone" class="form-control mb-4" name="receiver_phone" placeholder="聯絡電話"
								value="">
							<input type="text" class="form-control mb-4" name="address" placeholder="請輸入寄送地址" value="">
						</div>
					</div> -->
					<div class="row">
						<div class="col-sm-6 mb-3 mb-m-1 text-md-left"><a href="/product"><i
									class="fas fa-arrow-left mr-2"></i>
								繼續購物</a></div>
						<div class="col-sm-6 text-md-right">
							<form action="/order" method="post">
								<input type="hidden" name="_csrf" value="<%= csrfToken %>">
								<input type="text" class="form-control mb-4" name="receiver" placeholder="收件人" value="">
								<input type="phone" class="form-control mb-4" name="receiver_phone" placeholder="聯絡電話"
									value="">
								<input type="text" class="form-control mb-4" name="address" placeholder="請輸入寄送地址"
									value="">
								<button type="submit" class="btn btn-primary btn-lg pl-5 pr-5">結帳</button>
							</form>

						</div>
					</div>

					<% } else {%>
						<div class="row">
							<div class="col-12 text-center">
								<h2 class="mt-5 mb-2">您的購物車還沒有商品喔！</h2>
								<img src="/images/addtocart.svg" alt="add to cart" width="50%" class="mt-5">
							</div>

						</div>

						<% } %>
			</div>
		</section>

		<%- include('../includes/footer.ejs') %>