<%- include('../includes/header.ejs') %>

    <section class="collections text-center ">
        <div class="container-fluid">
            <div class="row">
                <div class="collection col-md-6 alt-background">
                    <div class="container container-right text-center">
                        <div>
                            <h1>個人資料修改</h1>
                            <!-- <p class="lead">Spring/Summer 2018 Collection</p> -->
                            <a href="/user" class="btn btn-outline-secondary">view</a>
                        </div>
                    </div>
                </div>
                <div class="collection col-md-6 bg-secondary inverted">
                    <div class="container container-left text-center">
                        <div>
                            <h1>訂單查詢</h1>
                            <!-- <p class="lead">Spring/Summer 2018 Collection</p> -->
                            <a href="/order" class="btn btn-outline-white">view</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="collection col-md-6 bg-secondary inverted">
                    <div class="container container-right text-center">
                        <div>
                            <h1>購物車</h1>
                            <a href="/cart" class="btn btn-outline-white">view</a>
                        </div>
                    </div>
                </div>

                <div class="collection col-md-6 alt-background">
                    <div class="container container-left text-center">
                        <div>
                            <h1>登出</h1>
                            <form action="/logout" method="post">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <button type="submit" class="btn btn-outline-secondary">view</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <%- include('../includes/footer.ejs') %>