<%- include('../includes/header.ejs') %>

    <section class="cart text-center">
        <div class="container">

            <% if(order.length !==0){ %>
                <div class="row">
                    <div class="col-12 text-center">
                        <h2 class="mt-2 mb-2">您的訂單</h2>
                        <p class="mb-5"><span class="primary-color">
                                <%= order.length %>
                            </span> Items in your cart</p>
                        <table id="cart" class="table table-condensed">
                            <thead>
                                <tr>
                                    <th style="width:10%">日期</th>
                                    <th style="width:15%">訂單編號</th>
                                    <th style="width:50%">內容</th>
                                    <th style="width:10%">金額</th>
                                    <th style="width:15%">狀態</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% order.forEach((item)=>{%>
                                    <tr>
                                        <td>
                                            <%= moment(item.date).format('YYYY-MM-DD') %>
                                        </td>
                                        <td>
                                            <%= moment(item.date).format('YYYYMMDDHHMMSS') %>
                                        </td>
                                        <td data-th="Product">
                                            <h4>
                                                <% item.products.forEach((product)=>{%>
                                                    <%= product.product.title %> x <%= product.quantity %><br>
                                                            <%}) %>
                                            </h4>
                                        </td>
                                        <td data-th="Price">NT$<%= item.totalPrice %>
                                        </td>
                                        <td data-th="status">
                                            <h4>
                                                <%= item.status %>
                                            </h4>
                                        </td>
                                    </tr>

                                    <%}) %>

                            </tbody>
                        </table>

                    </div>
                </div>

                <% }else{ %>

                    <div class="row">
                        <div class="col-12 text-center">
                            <h2 class="mt-5 mb-2">無任何訂單存在</h2>
                            <img src="/images/addtocart.svg" alt="add to cart" width="50%" class="mt-5">
                        </div>

                    </div>

                    <% } %>

        </div>
    </section>

    <%- include('../includes/footer.ejs') %>