<%- include('../includes/header.ejs') %>

    <% var editMode %>

        <section class="contact">
            <div class="container">
                <div class="row contact-details justify-content-center">
                    <div class="col-sm-8 ">

                        <h3 class="mb-4">個人資料修改</h3>
                        <form class="contact-form mt-4" action="/user?_method=PUT" method="POST">

                            <div class="row">
                                <div class="col-md-10">
                                    <%- include('../includes/error-messages.ejs') %>
                                        <%- include('../includes/success-messages.ejs') %>
                                            <small>姓名</small>
                                            <input type="text" class="form-control mb-4" name="name" placeholder="姓名"
                                                value="<%= userInfo.name %>">
                                            <small>電子郵件</small>
                                            <input type="email" class="form-control mb-4" id="email" name="email"
                                                placeholder="電子郵件" aria-describedby="emailHelp"
                                                value="<%= userInfo.email %>" disabled>
                                            <small>聯絡電話</small>
                                            <input type="text" class="form-control mb-4" id="phone" name="phone"
                                                placeholder="聯絡電話" aria-describedby="phoneHelp"
                                                value="<%= userInfo.phone %>">
                                            <small>生日</small>
                                            <input type="date" class="form-control mb-4" id="birthday" name="birthday"
                                                placeholder="生日" aria-describedby="birthdayHelp"
                                                value="<% if(userInfo.birthday){ %><%= moment(userInfo.birthday).format('YYYY-MM-DD') %><% } %>">


                                            <form action="/user?_method=PUT" method="post">
                                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                                <button type="submit" class="btn btn-outline-primary btn-lg mb-4">
                                                    更新
                                                </button>
                                            </form>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <%- include('../includes/footer.ejs') %>